AZURE_CLIENT_ID= (for running locally)
AZURE_CLIENT_SECRET= (for running locally)
AZURE_TENANT_ID=

SERVICE_PRINCIPAL_ID=

SERVICE_BUS_NAME=
SERVICE_BUS_POLICY_NAME=
SERVICE_BUS_ACCESS_KEY=
SERVICE_BUS_QUEUE_NAME=

AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME_PDF=
AZURE_STORAGE_CONTAINER_NAME_VIDEO=
AZURE_STORAGE_FRONTDOOR_ENDPOINT=

STREAM_TOKEN_SECRET={at least 32 char long secret}

#Databaskonfiguration (för Spring Boot)
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=

SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_SHOW_SQL=
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ASSISTANT_ID=

APP_REDIRECT_FRONTEND=