AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=
AZURE_STORAGE_FRONTDOOR_ENDPOINT=

#Databaskonfiguration (för Spring Boot)
#SPRING_DATASOURCE_URL=jdbc:h2:file:./app/data/test_db
SPRING_DATASOURCE_URL=jdbc:h2:mem:test_db
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.h2.Driver
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.H2Dialect
SPRING_JPA_HIBERNATE_DDL_AUTO=update